<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:replace="fragments/fragment :: headerFragment('Delete Car')"></title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h2>Hello!</h2>
		
		<h3>Hapus Mobil</h3>
		<form th:action="@{/car/delete}" method="POST">
			<input type="hidden" name="{idDealer}"/>
			Id: <br>
			<input type="text" name="carId" />
			<br><br>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>